/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/

.navbar-dark {
  background-color: #027EB6;
  border-color: #006DAE;
  border-radius: 0;
}
